body {
  background-color: pink;
}
h1 {
  font-family: 'Poiret One', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 50px;
  margin-bottom: 10px;
}
h3 {
  border: white;
  box-sizing: border-box;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  margin-top: 0;
}
h2 {
  color: white;
}
a {
  color: purple;
}
#photo {
  max-width: 10%;
  height: auto;
}
#design {
  max-width: 30%;
  height: auto;
}
.image {
  max-width: 30%;
  height: auto;
}
#ss {
  max-width: 50%;
  height: auto;
}
span {
  diplay: block;
  text-align: center;
}
.middle {
  text-align: center;
}
button {
  background-color: lightgreen;
}
nav {
  display: block;
}
.nav {
  width: fit-content;
  background-color: rgb(244, 219, 234);
  padding: 0px 10px;
  margin-left: 0px;
  border-radius: 0px;
}
.footer {
  padding-top: 20px;
}
/* widescreen displays */
@media only screen and (min-width: 920px) {
  .container {
    /* some layout rules */
  }
}

/* tablets */
@media only screen and (max-width: 919px) {
  body {
    max-width: 100%;
    height: auto;
  }
  #design {
    max-width: 100%;
    height: auto;
  }
  #photo {
    max-width: 25%;
    height: auto;
    margin: auto;
  }
}

/* phones */
@media only screen and (max-width: 400px) {
  #design {
    max-width: 100%;
    height: auto;
  }
  #photo {
    max-width: 50%;
    height: auto;
    margin: auto;
  }
  button {
    margin-bottom: 20px;
  }
  .phone {
    text-align: center;
  }
}
